<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="BaseDirectory" value="C:\Workspace\MobileUpdater\MAUFiles"></add>
		<!--<add key="LiquorAppsConnectionString" value="Data Source=PK-LAPTOP;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True" />-->
		<!--<add key="BaseDirectory" value="D:\DataImportExport\LiveServer\StoresFTP"></add>-->
		<add key="LiquorAppsConnectionString" value="Data Source=bottlecappsdb.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=webuser;Password=QCG8nP{kkWebU$er;MultipleActiveResultSets=True"/>


    <add key="BCappsUserName" value="no-reply@bottlecapps.com" />
		<add key="DeveloperId" value="no-reply@bottlecapps.com" />
		<add key="MaxCount" value="10" />
	 <!--frequent shopper store-->
    <add key="frequent_store" value="11695,11857" />
    <!--different_mapping for this store-->
    <add key="different_mapping" value="10380" />
    <!--mission wine and spirits stores-->
    <add key="mission_stores" value="10336;10333;10335;10337" />
    <!--prices need to show only 2 digits after '.'-->
    <add key="pricing_format" value="11365" />
    <!--liquor world stores-->
    <add key="liquor_world_stores" value="10322;10323;10324;10325;10326;10383;10384" />
    <!--cat tax for 10719-->
    <add key="cat_tax" value="10719" />
    <!--sprice for store 10360-->
    <add key="s_price" value="10360" />
    <!--0 sprice for specific products for store 10719-->
    <add key="s_price0" value="10719" />
    <!--cat based sprice for 10360-->
    <add key="cat_sprice" value="10360" />
    <!--cat based price for 10360-->
    <add key="cat_price" value="10360" />	  
    <!--wednesday sale sprice for store 10719-->
    <add key="wed_sprice" value="10719" />
    <!--thursday sale sprice for store 10496-->
    <add key="thur_sprice" value="10496" />
    <!--uom coloumn is size for store 10727-->
    <add key="uom_size" value="10727;11695;11752;11830;11678" />
    <!--price for specific upcs for store 10727-->
    <add key="special_price" value="10727" />
    <!--cat based deposit for store 10727-->
    <add key="cat_deposit" value="10727" />
    <!--cat based qty for store 10727-->
    <add key="cat_qty" value="10727" />
    <!--disable products for beer and wine cat and making qty 999 for all category for store 11315,11426;11427;11454-->
    <add key="static_qty" value="11315,11426;11427;11454;11315;12790;12791;12792;12793"/>	
    <!--disabled category products for store id 11315,11426;11427;11454-->
    <add key="dis_cat" value="WINE;BEER;BEER - KEG;CIG;CIGAR;KEG DEPOSIT;KEG TAP DEPOSIT;LOTTO;TOBACCO;ZIPPO"/>
    <!--generating the files irrespective of qty-->
    <add key="irrespective_of_qty" value="10427;10428;10429;10431;10432;10434;11356;11365;11315,11426;11427;11454,11678,11830,11695,11977,10780,10781"/>
    <add key="Tobacco_Cat" value="11678" />
    <!--Deposite_Liq different deposite for liqour cataegory and only 2 categories products in files-->
    <add key="Deposite_Liq" value="11315"/>
    <!--price  should be > 0 for store 11144 -->
    <add key="Price" value="11144,11857" />
    <!--EnvironmentalFee Stores -->
    <add key="EnvironmentalFee" value="11752,11771,11772,11775,11776"/>
    <!--for remove web active condition-->
    <add key="no_webactive_condition" value="11748,11752,11771,11772,11775,11776,10780,10781,12690,12679,12697,11976"/>
    <!--removing saleprice only for some products   -->
    <add key="SalePrice_removed" value="11752"/>
    <add key="DifferentTax" value="11830"/>
    <add key="DepositeValue" value="11640;12020;11426;12464;12815" />
    <add key="DiffQty" value="11315"/>
     <!--Please add this new line and also add these 2 stores into App config-->
    <add key="OtherUPC" value="11356,10394"/>
    <!--Please add this new line and store into App config line-->
    <add key="DiffUPC" value="11857,12020"/>
    <add key="Tobacco_saleprice" value="11752,11771,11772,11775,11776"/>
    <add key="DiscountableStores" value="11993,11992,11983"/>
     <add key="SKU_UPC" value="10780,10781"/>
     <add key="Broudys_stores" value="10187,10188,10189,10190,10191"/>
		<add key="THC_Cat" value="12336"/>	
	<add key="LoyaltyPoints" value="10187,10189"/>
	</appSettings>
	
	<system.net>
		<mailSettings>
			<smtp from="no-reply@bottlecapps.com">
				<network host="email-smtp.us-east-1.amazonaws.com" port="587" userName="AKIAQBWLIRVIOGADIBPM" password="BOjDbzqWjOReS7PBYgz+ElquPNLKkSxSwsRHP6nJ+xvG" enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>